.home-container {
  margin-top: 50px;
  /* border: 2px solid black; */
  height: 91.5vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: cover;
  /* background-color: rgb(194, 187, 111); */
  background-image: linear-gradient(rgb(245, 97, 97), rgb(250, 250, 53));
}
.content-container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  /* border: 2px solid black; */
  height: 100%;
  width: 60%;
}
.heading {
  font-family: "Venite Adoremus Straight";
  margin-left: 4vw;
  font-size: 4vw;
}
.tagline {
  margin-top: -2vw;
  margin-bottom: 3vw;
  margin-left: 4vw;
  font-size: 1.6vw;
  color: bisque;
  font-family: "Venite Adoremus Straight";
}
.sports-container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-left: 4vw;
}
.sport {
  border: 0.4px solid rgb(143, 142, 142);
  margin-right: 2vw;
  margin-bottom: 1vw;
  padding-right: 3vw;
  padding-left: 0.5vw;
  padding-top: 0.3vw;
  padding-bottom: 0.3vw;
  border-radius: 0.9vw;
  background: transparent;
  text-align: left;
  color: black;
  cursor: pointer;
  font-family: "Venite Adoremus Straight";
}
.image-container {
  /* border: 2px solid green; */
  height: 100%;
  width: 40%;
}
.home-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* background-color: green; */
}

@media (max-width: 1100px) {
  .home-container {
    margin-top: 50px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(rgb(245, 97, 97), rgb(250, 250, 53));
  }
}

@media (max-width: 1100px) {
  .home-container {
    margin-top: 50px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    height: 100%;
    background-image: linear-gradient(rgb(245, 97, 97), rgb(250, 250, 53));
  }
  .content-container {
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 36%;
  }
  .tagline {
    color: black;
  }
  .image-container {
    /* border: 2px solid green; */
    min-width: 83%;
    height: 64%;
  }
  .sports-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-left: 4vw;
  }
}
